.container {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  max-width: 375px;

  width: 100%;
  padding: 0 20px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
