.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 313px;
  height: 244px;
  background-color: var(--color-bg-secondary);
  border-radius: 12px;
  padding: 20px;
}

.title {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.list {
  display: flex;
  gap: 20px;
}

.bookItem {
  width: 71px;
  height: 141px;
  overflow: hidden;
}

.bookImg {
  width: 71px;
  height: 107px;
  object-position: top;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.bookTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 2px;
}

.bookAuthor {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #686868;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 17px;
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: var(--color-text);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .wrapper {
    width: 313px;
    height: 272px;
  }

  .title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .link {
    margin-top: 20px;
    font-size: 14px;
    line-height: 129%;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .wrapper {
    height: 259px;
  }
}
