.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 295px;
}

.title {
  margin-left: 14px;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px;
  height: 44px;
  width: 100%;
  border-radius: 12px;
  background-color: var(--color-bg-secondary);
  color: #686868;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

.input {
  flex: 1;
  border: none;
  background: none;
  color: var(--color-text);
  padding: 0;
}

.input::placeholder {
  color: var(--color-text);
}

.btn {
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  padding: 10px 10px;
  margin-top: 12px;
  width: 98px;
  height: 38px;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.02em;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .title {
    font-size: 14px;
  }

  .label {
    font-size: 14px;
  }
  .btn {
    height: 42px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .form {
    width: 313px;
  }
}
