.wrapper {
  height: 528px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-bg);
  border-radius: 30px;
  padding: 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .wrapper {
    height: 336px;
    flex-direction: row;
    padding: 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .wrapper {
    height: 651px;
    flex-direction: column;
    padding: 40px 20px;
  }
}
