.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 20px;
  border-radius: 15px;
  background-color: var(--color-bg);
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logoIcon {
  fill: var(--color-text);
}

.logoText {
  display: none;
}

.nav {
  display: none;
}

.actionsWrapper {
  display: flex;
  gap: 10px;
}

.userWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userIcon {
  margin-right: 38px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid rgba(249, 249, 249, 0.2);
  width: 35px;
  height: 35px;
  font-weight: 700;

  line-height: 113%;
  letter-spacing: -0.02em;
}

.userName {
  display: none;
}

.menuBtn {
  position: absolute;
  z-index: 100;
  top: 14px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuIcon {
  stroke: var(--color-text);
}

.actionsBtn {
  display: none;
}

.burgerMenuWrapper {
  position: fixed;
  z-index: 99;
  right: -100%;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: var(--color-bg-secondary);
}

.isOpen {
  right: 0;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .header {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .wrapper {
    padding: 16px 16px;
  }

  .nav {
    display: block;
  }

  .navList {
    display: flex;
    gap: 32px;
  }

  .navItem {
  }

  .navLink {
  }

  .actionsWrapper {
    gap: 16px;
  }

  .userIcon {
    margin-right: 0px;
    width: 40px;
    height: 40px;
  }

  .menuBtn {
    display: none;
  }

  .actionsBtn {
    display: block;
    border: 1px solid rgba(249, 249, 249, 0.2);
    border-radius: 30px;
    padding: 8px 15px;
    width: 114px;
    height: 42px;
  }

  .burgerMenuWrapper {
    display: none;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .logoText {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
  }

  .navList {
    gap: 40px;
  }

  .userName {
    display: block;
    font-weight: 700;

    line-height: 113%;
    letter-spacing: -0.02em;
  }
}
