/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .wrapper {
    display: none;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .wrapper {
    display: block;
    padding: 15px 20px 28px 20px;
    background-color: var(--color-bg-secondary);
    border-radius: 12px;
  }
}
