:root {
  --color-bg: #1f1f1f;
  --color-bg-secondary: #262626;
  --color-text: #f9f9f9;
  --color-text-secondary: #1f1f1f;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-family: inherit;

  appearance: none;
  -webkit-appearance: none;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  color: #f9f9f9;
}
