:root {
  --color-section-bg: #141414;
  --color-bg: #1f1f1f;
  --color-bg-secondary: #262626;
  --color-text: #f9f9f9;
  --color-text-secondary: #1f1f1f;
  --color-accent: rgba(227, 227, 227, 30%);
  --font-primary: 'Gilroy', sans-serif;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Gilroy-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Gilroy-Medium.woff2') format('woff2');
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-family: inherit;

  appearance: none;
  -webkit-appearance: none;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: var(--font-primary);
  color: #f9f9f9;
}

section {
  background-color: var(--color-section-bg);
}
