.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputWrapper {
  position: relative;
  padding: 14px;
  border-radius: 12px;
  background-color: #262626;
}

.label {
  color: #686868;
  font-size: 12px;
}

.input {
  width: 65%;
  margin-left: 10px;
  color: #f9f9f9;
  border: none;
  background: none;
  background-color: transparent;
  font-size: 12px;
}

.input::placeholder {
  color: #f9f9f9;
}

.errorInput {
  border: 1px solid #e90516;
}

.correctInput {
  border: 1px solid #30b94d;
}

.error {
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #e90516;
}

.correct {
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #30b94d;
}

.icon {
  position: absolute;
  fill: none;
  stroke: #f9f9f9;
  width: 18px;
  height: 18px;
  top: 13px;
  right: 16px;
}

.errorIcon {
  position: absolute;
  fill: none;
  stroke: #e90516;
  width: 18px;
  height: 18px;
  top: 13px;
  right: 16px;
}

.PasswordErrorIcon {
  position: absolute;
  fill: none;
  stroke: #e90516;
  width: 18px;
  height: 18px;
  top: 13px;
  right: 50px;
}

.correctIcon {
  position: absolute;
  fill: none;
  stroke: #30b94d;
  width: 18px;
  height: 18px;
  top: 13px;
  right: 50px;
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 12px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02em;
  border-radius: 30px;
  width: 140px;
  height: 42px;
  color: #1f1f1f;
  background-color: #f9f9f9;
}

.loader {
}

.link {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .form {
    gap: 14px;
  }

  .label {
    font-size: 14px;
  }

  .input {
    font-size: 14px;
    line-height: 129%;
  }

  .error {
    font-size: 12px;
    line-height: 117%;
  }

  .correct {
    font-size: 12px;
    line-height: 117%;
  }

  .errorIcon {
    width: 20px;
    height: 20px;
    top: 15px;
    right: 18px;
  }

  .PasswordErrorIcon {
    width: 20px;
    height: 20px;
    top: 15px;
    right: 53px;
  }

  .correctIcon {
    width: 20px;
    height: 20px;
    top: 15px;
    right: 53px;
  }

  .icon {
    width: 20px;
    height: 20px;
    top: 15px;
    right: 18px;
  }

  .btnWrapper {
    margin-top: 68px;
    gap: 20px;
  }

  .btn {
    width: 225px;
    height: 52px;
    font-size: 20px;
    line-height: 100%;
  }

  .link {
    font-size: 14px;
    line-height: 129%;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
}
