.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputWrapper {
  position: relative;
  padding: 14px;
  border-radius: 12px;
  background-color: #262626;
}

.label {
  color: #686868;
  font-size: 12px;
}

.input {
  margin-left: 10px;
  color: #f9f9f9;
  border: none;
  background: none;
  font-size: 12px;
}

.input::placeholder {
  color: #f9f9f9;
}

.error {
  position: absolute;
  font-size: 8px;
}

.icon {
  position: absolute;
  fill: none;
  stroke: #f9f9f9;

  top: 13px;
  right: 13px;
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 12px;
}

.btn {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02em;
  border-radius: 30px;
  padding: 12px 29px;
  width: 140px;
  height: 42px;
  color: #1f1f1f;
  background-color: #f9f9f9;
}

.loader {
}

.link {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}
