.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formWrapper {
  padding: 20px 20px 40px 20px;
  border-radius: 30px;
  background-color: var(--color-bg);
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 40px;
}

.logoIcon {
  fill: var(--color-text);
}

.logoText {
  display: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.02em;
}

.titleAccent {
  color: var(--color-accent);
}

.imgWrapper {
  padding: 20px 40px;
  border-radius: 30px;
  background-color: var(--color-bg);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .section {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .wrapper {
    flex-direction: row;
    gap: 16px;
  }

  .formWrapper {
    padding: 40px 168px 214px 64px;
  }

  .logo {
    margin-bottom: 157px;
  }

  .logoText {
    display: block;
  }

  .title {
    font-size: 64px;
    line-height: 94%;
  }

  .imgWrapper {
    display: none;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .logo {
    margin-bottom: 107px;
  }

  .formWrapper {
    padding: 40px 64px 40px 64px;
  }

  .imgWrapper {
    display: block;
  }
}
